<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"MercadoLiebre"</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top-header">
            <a href="/"><img src="images\logo-mercado-liebre.svg" class="logo"></a>
            <div class="barra">
            <input type="search" placeholder="Buscar">
                <button><i class="fas fa-search"></i></button>
            </div>
            <h3 class="titulo">
                <i class="fas fa-hand-holding-usd"><span>Comprá en cuotas y sin tarjeta de crédito</span></i>
            </h3>
        </div>
        <div>
            <a class="hamburguesa">
                <i class="fas fa-bars"></i>
            </a>
            
            <nav class="navegador">
                <div class="lista1">
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                    <a href="registro">Crea tu cuenta<i class="fas fa-id-card"></i></a>
                    <a href="signIn">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </div>
            </nav>
            
        </div>
            
    </header>
    
    <main>
        <br>
        <div id="formularioIngreso">
            <div>
                <h4>¡Hola! Creá tu cuenta</h4>
            </div>
            <form action="/login-usuario" method="POST">
                <input type="text" name="nombre" placeholder="Nombre y Apellido"><br><br>
                <input type="email" id="email" name="email" placeholder="Email"><br><br>
                <input type="text" name="usuario" placeholder="Nombre de usuari@"><br><br>
                <div>
                    <input type="password" name="pass" placeholder="Contraseña" style="width: 95%;"><i class="far fa-eye-slash"></i> 
                </div><br><br>
                <div>
                    <input type="password" name="pass" placeholder="Confirmar contraseña" style="width: 95%;"><i class="far fa-eye-slash"></i> 
                </div><br><br>
                <input type="text" name="celular" placeholder="Nro. Teléfono"><br><br>
                <input type="text" name="direction" placeholder="Dirección"><br><br>
                <input type="checkbox"> Acepto los <a href="#">términos y condiciones</a></input><br><br>
                <input id="botonlogin" class="submit-form" type="submit" value="Registrarse"><br><br>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div>
                <p class="tarjeta"><i class="fas fa-credit-card"></i></p>
                <h4>Paga con tarjeta o con efectivo</h4>
                <article>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo
                en puntos de pago. ¡Y siempre es seguro!
                </article>
            </div>
            <div>
                <p class="regalo"><i class="fas fa-gift"></i></p>
                <h4>Envío gratis desde los $2.500</h4> 
                <article>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis
                en miles de productos. Es un beneficio de Mercado Puntos.
                </article>
            </div>
            <div>
                <p class="shield"><i class="fas fa-user-shield"></i></p>
                <h4>Seguridad de principio a fin</h4>
                <article>
                ¿No te gusta?¡Devolvelo! En Mercado Liebre no hay nada que 
                no puedas hacer porque estás siempre protegid@. 
                </article>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>